{% extends "base.html.twig" %}

{% block title %}Home page{% endblock %}

{% block body %}
    <h1>Welcome to Kokos!</h1>
    <br>
    {% if logged %}
    {% if issetPhone %}
    {% else %}
        To complete the registration, please enter your information.
        <br>
        {{ form(form) }}
    {% endif %}
    {% else %}
    {% endif %}

{% endblock %}
